body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 640px) {
  #desktop-header, #main-container, footer {
    margin: 0px clamp(0rem, -17.5rem + 43.75vw, 3.5rem);
  }
}
@media (min-width: 768px) {
  #desktop-header, #main-container, footer {
    margin: 0px clamp(0rem, -22.5rem + 46.88vw, 7.5rem);
  }
}
@media (min-width: 1024px) {
  #desktop-header, #main-container, footer {
    margin: 0px clamp(0rem, -30rem + 46.88vw, 7.5rem);
  }
}
@media (min-width: 1280px) {
  #desktop-header, #main-container, footer {
    margin: 0;
  }
}
.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(95, 95, 95, 0.474);
  display: none;
  z-index: 200;
}

.overlay.active {
  display: flex;
}

.side-bar {
  position: fixed;
  top: 0px;
  left: -500px;
  height: 100%;
  width: 415px;
  background-color: #FFF;
  transition: 0.4s ease-in-out;
  z-index: 201;
}

.side-bar.active {
  left: 0px;
}

@media (max-width: 640px) {
  .side-bar {
    width: 75%;
  }
}
.product-card {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  min-height: 250px;
  flex: 1 1 100%;
  transition: box-shadow 0.2s ease-in-out;
}

.product-card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.product-photo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  aspect-ratio: 1/1;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  overflow: hidden;
}

.product-photo-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.2s ease-in-out;
}

.product-description-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 16px;
  min-height: 127px;
}

.product-name {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0px 0px 8px;
  font-size: 18px;
}

.product-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  width: 100%;
  height: 20px;
}

.star-rating {
  color: #fdc700;
}

.product-price-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.product-price {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  color: #155dfc;
}

.product-category {
  margin: 0;
  font-size: 0.875rem;
  color: #364153;
  font-size: 12px;
}

.product-card:hover {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1019607843);
}

.product-card:hover .product-photo-container img {
  transform: scale(1.05);
}

@media (min-width: 640px) {
  .product-card {
    flex: 0 1 calc(50% - 20px);
  }
}
@media (min-width: 1024px) {
  .product-card {
    flex: 0 1 calc(33.333% - 20px);
    height: 360px;
  }
  .product-photo-container {
    height: 55%;
  }
  .product-description-container {
    height: 45%;
  }
}
@media (min-width: 1280px) {
  .product-card {
    height: auto;
  }
  .product-photo-container {
    height: 80%;
  }
  .product-description-container {
    height: 20%;
  }
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  box-sizing: border-box;
  padding: 8px 32px;
  background-color: white;
  border-bottom: none;
  max-width: 100%;
  min-height: 65px;
  box-sizing: border-box;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1019607843);
  z-index: 100;
}

#desktop-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: -2;
}

#logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: auto;
  box-sizing: border-box;
}

#logo-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-image: linear-gradient(to bottom right, #2563eb, #9333ea);
  border-radius: 10px;
}

.menu-item {
  color: #364153;
  transition: 0.4s ease;
}

.menu-item:hover {
  color: #3182ce;
}

#header-nav {
  display: flex;
  position: absolute;
  left: 33.3%;
  width: 33.3%;
  border: none;
}

.header-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
}

#header-nav-mobile {
  display: none;
}

#header-actions-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

#header-search-section {
  position: relative;
}

#header-search-bar {
  position: absolute;
  z-index: -1;
  display: flex;
  align-items: center;
  right: 0px;
  height: 40px;
  border: none;
  border-radius: 20px;
  padding-right: 45px;
  padding-left: 8px;
  max-width: 0px;
  transition: 0.4s ease-in-out;
}

#header-search-input {
  border: none;
  outline: none;
  max-width: 100px;
}

#burger-menu-button {
  display: none;
}

#search-checkbox:checked ~ #header-search-bar {
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1019607843);
  max-width: 80px;
}

#search-checkbox:not(:checked) ~ #header-search-bar {
  opacity: 0;
}

.rounded-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.rounded-button img {
  width: 20px;
  height: 20px;
}

.rounded-button:hover {
  background-color: #F3F4F6;
  transition: background-color 0.3s ease;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    justify-content: center;
  }
  #search-checkbox:checked ~ #header-search-bar {
    max-width: 120px;
  }
  #burger-menu-button {
    display: flex;
  }
  #header-nav {
    display: none;
  }
  #header-nav-mobile {
    display: flex;
    position: static;
    max-height: 0;
    width: 100%;
    overflow: hidden;
    transition: 0.4s ease-in-out;
  }
  .header-list {
    flex-direction: column;
    gap: 10px;
  }
  .menu-item {
    width: 100%;
    text-align: start;
  }
  #menu-checkbox:checked ~ #header-nav-mobile {
    max-height: 500px;
    padding: 10px 0px;
  }
}
@media screen and (max-width: 640px) {
  #logo-name {
    display: none;
  }
}
.side-bar-container {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

main {
  padding: 32px;
  background-color: #F9FAFB;
}

#main-container {
  background-color: transparent;
}

.title-text {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0px 0px 8px;
}

.description-text {
  margin: 0px;
  font-size: 1rem;
  color: #364153;
}

.small-description-text {
  margin: 0;
  font-size: 0.875rem;
  color: #364153;
}

#main-title-section {
  line-height: 1.5;
  margin: 0px 0px 32px;
}

#top-main-bar {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  height: auto;
  margin: 0px 0px 24px;
}

#filter-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

#filter-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
  gap: 10px;
  padding: 8px 16px;
  background-color: #FFF;
  border-radius: 8px;
  border: 1px solid rgba(209, 213, 219, 0.4901960784);
  transition: 0.4s ease;
  cursor: pointer;
}
#filter-button img {
  transform: rotate(-90deg);
  width: 16px;
  height: 16px;
}

#filter-button:hover {
  background-color: rgba(209, 213, 219, 0.2705882353);
}

#product-sort-section {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.select-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  box-sizing: border-box;
  border-radius: 8px;
  width: 180px;
  height: 36px;
  font-weight: 600;
  background-color: #FFF;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1019607843);
  cursor: pointer;
}

.icon-img {
  height: 25px;
  width: 25px;
  opacity: 0.7;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.options {
  margin: 0;
  font-size: 0.875rem;
  color: #364153;
  padding: 4px;
  position: absolute;
  top: 30px;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1019607843);
  margin-top: 10px;
  background-color: #fff;
  width: 180px;
  opacity: 0;
  max-height: 0px;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  z-index: 100;
}

.select.active .options {
  opacity: 1;
  max-height: 300px;
}

.option {
  padding: 8px 12px;
  box-sizing: border-box;
  border-radius: 4px;
}

.option:hover {
  background-color: rgba(209, 207, 207, 0.6039215686);
}

#product-section {
  display: flex;
  justify-content: center;
  gap: 24px;
}

#filters-side-section {
  display: none;
  min-width: 256px;
}

.filters-side-section-container {
  flex-direction: column;
  box-sizing: border-box;
  position: sticky;
  top: 85px;
  max-height: 400px;
  width: 100%;
  background-color: #FFF;
  border: 1px solid rgba(209, 213, 219, 0.4901960784);
  border-radius: 8px;
  padding: 24px;
}

.filters-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin: 0px 0px 24px;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating-filter {
  width: 100%;
  margin: 0px 0px 24px;
}

.checkbox-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 0px 12px;
}
.checkbox-item input {
  width: 16px;
  height: 16px;
  margin: 0px 8px 0px 0px;
  background-color: #F3F3F5;
}

.price-filter {
  width: 100%;
  margin: 0px 0px 24px;
}

.slider {
  height: 16px;
  position: relative;
  border-radius: 8px;
  background-color: #ececf0;
  margin: 0px 0px 16px;
}

.slider .progress {
  height: 16px;
  width: auto;
  position: absolute;
  border-radius: 8px;
  background-color: #111;
}

.range-input {
  position: relative;
}

.range-input input {
  position: absolute;
  width: 100%;
  height: 16px;
  top: -2px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border: 1px solid black;
  border-radius: 50%;
  pointer-events: auto;
  -webkit-appearance: none;
  background: #FFF;
}

input[type=range]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border: 1px solid black;
  border-radius: 50%;
  pointer-events: auto;
  -moz-appearance: none;
  background: #FFF;
}

.price-values-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.clear-filters-button {
  width: 100%;
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid rgba(209, 213, 219, 0.4901960784);
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.product-cards-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 1184px;
  gap: 24px;
}

@media (min-width: 1024px) {
  #filter-button {
    display: none;
  }
  #filters-side-section {
    display: flex;
  }
  .product-cards-section {
    width: calc(100% - 280px);
  }
}
@media (min-width: 640px) {
  #top-main-bar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 36px;
  }
}
footer {
  padding: 48px 16px;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1019607843);
}

.footer-text {
  margin: 0;
  font-size: 0.875rem;
  color: #364153;
}

.footer-title-text {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0px 0px 8px;
  font-size: 18px;
}

footer a {
  transition: 0.4s ease;
}

footer a:hover {
  color: #3182ce;
}

.footer-block {
  width: 100%;
}

.upper-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
}

.footer-logo-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  margin-bottom: 16px;
}

.upper-footer .logo-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-image: linear-gradient(to bottom right, #2563eb, #9333ea);
  border-radius: 10px;
}

.lower-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 48px 0px 0px;
  padding: 32px 0px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1019607843);
}

.footer-list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 8px;
  width: 100%;
}

.footer-list-container ul {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

@media (min-width: 768px) {
  .footer-block {
    width: calc(50% - 16px);
  }
}
@media (min-width: 1024px) {
  .footer-block {
    width: calc(25% - 24px);
  }
}
* {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*# sourceMappingURL=index.css.map */