@import "./base/base_styles";
@import "./blocks/side_bar";
@import "./blocks/header";
@import "./blocks/main_index";
*
{
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}