@import "./base/base_styles";
@import "./blocks/header";
@import "./blocks/footer";
@import "./element_styles/product_card";
@import "./element_styles/colors";

*
{
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

main
{
    background-color: #F9FAFB;
}

#main-container
{
    padding: 32px 16px;
}

#products-category-path
{
    display: none;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin: 0px 0px 24px;

    a
    {
        font-size: 14px;
        color: $light-text-color;
        transition: 0.3s ease all;
    }

    a:hover
    {
        color: #3182ce;
    }
}

#product-information-container
{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

#product-photos-container
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    
    #main-photo-container
    {
        display: flex;
        position: relative;
        width: 100%;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 0px 4px 1px $light-shadow;
        
        img
        {
            height: 100%;
            width: 100%;
            object-fit: cover;
            user-select: none;
            aspect-ratio: 1;
            transition: 0.3s ease opacity;
        }

        img.fade-out
        {
            opacity: 0;
        }

        .photo-switch-button
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 40px;
            height: 40px;
            border: none;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.758);
            cursor: pointer;
            transition: 0.3s ease background-color;
        }        

        .photo-switch-button:hover
        {
            background-color: white;
        }

        #prev-photo-button
        {
            top: 50%;
            left: 10px;
        }

        #next-photo-button
        {
            top: 50%;
            right: 10px;
        }
    }

    #gallery-container
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        
        .galleryImage
        {
            display: flex;
            width: calc(33% - 5px);
            border-radius: 8px;
            border: 2px solid $light-shadow;
            aspect-ratio: 1;
            overflow: hidden;
            cursor: pointer;

            img
            {
                width: 100%;
                height: 100%;
                object-fit: cover;
                user-select: none;
            }
        }    

        .galleryImage.selected
        {
            border: 2px solid #155dfc;
        }
    }

}

#product-description-container
{
    display: flex;
    flex-direction: column;
    width: 100%;

    #product-name-label
    {
        font-size: 24px;
        font-weight: 500;
        margin: 0px 0px 12px;
    }

    #product-rating-container
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        margin: 0px 0px 8px;

        #product-star-rating
        {
            color: #fbc618;
        }

        #product-digital-rating
        {
            font-size: 14px;
            color: $light-text-color;
        }
    }

    #product-reviews-count
    {
        display: flex;
        font-size: 14px;
        color: $light-text-color;
        margin: 0px 0px 24px;
    }

    #product-price-container
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        margin: 0px 0px 24px;

        #product-price
        {
            font-size: 30px;
            font-weight: bold;
            color: #155dfc;
        }

        #discount-price
        {
            font-size: 30px;
            font-weight: bold;
            color: #e7000b;
        }

        #old-price
        {
            text-decoration: line-through;
            padding: 12px 0px 0px;
            font-size: 14px;
            color: $light-text-color;
        }

        span
        {
            padding: 12px 0px 0px;
            font-size: 14px;
            color: $light-text-color;
        }
    }

    #key-highlights-section
    {
        display: flex;
        flex-direction: column;
        padding: 16px;
        border: none;
        border-radius: 8px;
        background-color: #eff6ff;
        margin: 0px 0px 24px;

        h3
        {
            font-size: 14px;
            font-weight: 500;
            margin: 0px 0px 8px;
        }

        #highlights-list
        {
            display: flex;
            flex-direction: column;
            padding: 0px 0px 0px 16px;
            list-style-type: disc;

            .highlight-item
            {
                font-size: 14px;
                margin: 0px 0px 4px;
            }

            .highlight-item::marker
            {
                color: #155dfc;
            }
        }
    }

    #product-description-section
    {
        display: flex;
        flex-direction: column;
        margin: 0px 0px 24px;

        h2
        {
            font-size: 20px;
            font-weight: 500;
            margin: 0px 0px 12px
        }

        p
        {
            font-size: 16px;
            color: $light-text-color;
            text-align: justify;
            margin: 0px;
        }
    }

    #quantity-section
    {
        display: flex;
        flex-direction: column;
        margin: 0px 0px 24px;

        span
        {
            font-size: 14px;
            font-weight: 600;
            margin: 0px 0px 8px;
        }

        #quantity-buttons-section
        {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 12px;

            #quantity-count
            {
                display: flex;
                flex-direction: column;
                width: 50px;
                align-items: center;
                justify-content: center;
                margin: 0px;
            }

            .quantity-button
            {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 40px;
                font-size: 16px;
                font-weight: 600;
                border-radius: 8px;
                border: 1px solid $light-shadow;
                padding: 0px 0px 4px;
                background-color: transparent;
                transition: 0.3s ease all;
                cursor: pointer;
            }

            .quantity-button:hover
            {
                background-color: #d6d6d6;
            }
        }

    }

    #add-to-cart-button
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin: 0px 0px 24px;
        padding: 8px 32px;
        border: none;
        border-radius: 8px;
        background-color: #155dfc;
        color: white;
        transition: 0.3s ease all;
        cursor: pointer;

        span
        {
            padding: 8px 0px;
            font-size: 16px;
            font-weight: 600;
        }
    }

    #add-to-cart-button:hover
    {
        background-color: #114dcf;
    }

    #technical-specifications-section
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 16px;
        border: 1px solid $light-shadow;
        border-radius: 8px;

        #specifications-button
        {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin: 20px 0px;
            cursor: pointer;

            span
            {
                font-size: 14px;
                font-weight: 400;
            }

            svg
            {
                transition: 0.3s ease-in-out all;
            }

        }

        #technical-specifications-list
        {
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow: hidden;
            transition: 0.3s ease-in-out all;

            .specification-item
            {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                font-size: 14px;
                font-weight: 400;
                color: $light-text-color;
                border-bottom: 1px solid $light-shadow;
                margin: 0px 0px 12px;
                padding: 0px 0px 8px;
            }

            .specification-item:last-child
            {
                margin: 0px;
            }
        }

        #show-trigger:checked~#technical-specifications-list
        {
            max-height: 400px;
        }
        #show-trigger:not(:checked)~#technical-specifications-list
        {
            max-height: 0px;
        }
        #show-trigger:checked~#specifications-button
        {
            svg
            {
                transform: rotate(0deg);
            }
        }
        #show-trigger:not(:checked)~#specifications-button
        {
            svg
            {
                transform: rotate(180deg);
            }
        }
    }
}

#relative-products-section
{
    display: none;
    flex-direction: column;
    margin: 64px 0px 0px;

    h1
    {
        font-size: 20px;
        font-weight: 500;
        margin: 0px 0px 24px;
    }
    
    #relative-products-container
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }
}



.pagination-section
{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height: 40px;
    width: 100%;
    margin-top: 32px;
}

.pagination-buttons-section
{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.pagination-button
{
    @include rounded-button-base;
    border: 1px solid $light-shadow;
    background-color: transparent;
    color: black;
    transition: 0.4s ease all;
    cursor: pointer;
}

.pagination-button:hover
{
    color: #3182ce;
    background-color: #e1e1e1;
}

.pagination-button.selected
{
    background-color: #3182ce;
    color: white;
    border: none;
}

.pagination-button.selected:hover
{
    background-color: #2d76bb;
}

@media (min-width: 1024px)
{
    #product-information-container
    {
        flex-direction: row;

        #product-photos-container
        {
            width: calc(50% - 15px);
        }
        #product-description-container
        {
            width: calc(50% - 15px);
        }
    }
}