.product-card
{
    border-radius: 8px;
    border: 1px solid black;
    min-height: 250px;
    flex: 1 1 100%;
}

@media (min-width: 640px) {
    .product-card{
        flex: 0 1 calc(50% - 20px);
        min-height: 417px;
    }
}

@media(min-width: 768px)
{
    .product-card
    {
        min-height: 482px;
    }
}
@media (min-width: 1024px) {
    .product-card{
        flex: 0 1 calc(33.3% - 20px);
        min-height: 360px;
    }
}
