@import "../element_styles/button_styles";
@import "../element_styles/topology";
@import "../element_styles/colors";
header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    box-sizing: border-box;
    padding: 8px 32px;
    background-color: white;
    border-bottom: none;
    max-width: 100%;
    min-height: 65px;
    box-sizing: border-box;
    box-shadow: 1px 2px 6px $light-shadow;
    z-index: 100;
}


#desktop-header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: -2;
}

#logo-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: auto;
    box-sizing: border-box;
}

#logo-background
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-image: linear-gradient(to bottom right, #2563eb, #9333ea);
    border-radius: 10px;
}

.menu-item
{
    color: $light-text-color;
    transition: 0.4s ease;
}

.menu-item:hover
{
    @include link-text-hover;
}

#header-nav
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    position: absolute;
    left: 33.3%;
    width: 33.3%;
    border: none;
}

#header-nav-mobile
{
    display: none;
}

#header-actions-bar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#header-search-section
{
    position: relative;
}

#header-search-bar
{
    position: absolute;
    z-index: -1;
    display: flex;
    align-items: center;
    right: 0px;
    height: 40px;
    border: none;
    border-radius: 20px;
    padding-right: 45px;
    padding-left: 8px;
    max-width: 0px;
    transition: 0.4s ease-in-out;
}

#header-search-input
{
    border: none;
    outline: none;
    max-width: 100px;
}

#burger-menu-button
{
    display: none;
}

#search-checkbox:checked~#header-search-bar
{
    box-shadow: 1px 2px 6px $light-shadow;
    max-width: 80px;
}

#search-checkbox:not(:checked)~#header-search-bar
{
    opacity: 0;
}

.rounded-button
{
    @include rounded-button-base;
}

.rounded-button:hover
{
    @include rounded-button-base-hover;
}

@media screen and (max-width: 768px) {
    header
    {
        flex-direction: column;
        justify-content: center;
    }

    #desktop-header
    {
        align-items: center;
        width: 100%;
    }

    #search-checkbox:checked~#header-search-bar
    {
        max-width: 120px;
    }
    
    #burger-menu-button
    {
        display: flex;
    }
    
    #header-nav
    {
        display: none;
    }

    #header-nav-mobile
    {
        display: flex;
        flex-direction: column;
        position: static;
        gap: 10px;
        max-height: 0;
        width: 100%;
        overflow: hidden;
        transition: 0.4s ease-in-out;
    }

    .menu-item
    {
        width: 100%;
        text-align: start;
    }

    #menu-checkbox:checked~#header-nav-mobile
    {
        max-height: 500px;
        padding: 10px 0px;
    }
}

@media screen and (max-width: 640px)
{
    #logo-name
    {
        display: none;
    }
}