@import "../element_styles/colors";
@import "../element_styles/topology";

.side-bar-container
{
    display: flex;
    flex-direction: column;
    padding: 24px;
}

main
{
    padding: 32px;
    background-color: #F9FAFB;
}

#main-container
{
    background-color: transparent;
}

.title-text
{
    @include title-text;
}

.description-text
{
    @include medium-text;
}

.small-description-text
{
    @include small-text;
}

#main-title-section
{
    line-height: 1.5;
    margin: 0px 0px 32px;
}

#top-main-bar
{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    height: auto;
    margin: 0px 0px 24px;
}

#filter-section
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

#filter-button
{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    gap: 10px;
    padding: 8px 16px;
    background-color: #FFF;
    border-radius: 8px;
    border: 1px solid #d1d5db7d;
    transition: 0.4s ease;
    cursor: pointer;
    img
    {
        transform: rotate(-90deg);
        width: 16px;
        height: 16px;
    }
}

#filter-button:hover
{
    background-color: #d1d5db45;
}

#product-sort-section
{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.select
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.select-button
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    box-sizing: border-box;
    border-radius: 8px;
    width: 180px;
    height: 36px;
    font-weight: 600;
    background-color: #FFF;
    box-shadow: 0px 0px 1px $light-shadow;
    cursor: pointer;
}

.icon-img
{
    height: 25px;
    width: 25px;
    opacity: 0.7;
    user-select: none;
}

.options
{
    @include small-text;
    padding: 4px;
    position: absolute;
    top: 30px;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 1px 2px 6px $light-shadow;
    margin-top: 10px;
    background-color: #fff;
    width: 180px;
    opacity: 0;
    max-height: 0px;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    z-index: 100;
}

.select.active .options
{
    opacity: 1;
    max-height: 300px;
}

.option
{
    padding: 8px 12px;
    box-sizing: border-box;
    border-radius: 4px;
}

.option:hover
{
    background-color: #d1cfcf9a;
}

#product-section
{
    display: flex;
    gap: 20px;
}

#filters-side-section
{
    display: none;
    flex-direction: column;
    box-sizing: border-box;
    height: auto;
    width: 256px;
    padding: 24px;
    background-color: #FFF;
    border: 1px solid #d1d5db7d;
    border-radius: 8px;
}

.filters-label
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin: 0px 0px 24px
}

.filters
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating-filter
{
    width: 100%;
    margin: 0px 0px 24px
}

.checkbox-item
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 0px 12px;
    input
    {
        width: 16px;
        height: 16px;
        margin: 0px 8px 0px 0px;
        background-color: #F3F3F5;
    }
}

.price-filter
{
    width: 100%;
    margin: 0px 0px 24px;
}

.slider 
{
    height: 16px;
    position: relative;
    border-radius: 8px;
    background-color: #ececf0;
    margin: 0px 0px 16px;
}

.slider .progress
{
    height: 16px;
    width: auto;
    position: absolute;
    border-radius: 8px;
    background-color: #111;
}

.range-input
{
    position: relative;
}

.range-input input
{
    position: absolute;
    width: 100%;
    height: 16px;
    top:-2px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb
{
    height: 16px;
    width: 16px;
    border: 1px solid black;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-appearance: none;
    background: #FFF;
}

input[type="range"]::-moz-range-thumb{
  height: 16px;
  width: 16px;
  border: 1px solid black;
  border-radius: 50%;
  pointer-events: auto;
  -moz-appearance: none;
  background: #FFF;
}

.price-values-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.clear-filters-button
{
    width: 100%;
    padding: 8px 16px;
    background-color: transparent;
    border: 1px solid #d1d5db7d;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.product-cards-section
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    box-sizing: border-box;
    width: 1024px;
    gap: 20px;
}



@media (min-width: 1024px)
{
    #filter-button
    {
        display: none;
    }

    #filters-side-section
    {
        display: flex;
    }
}

@media (min-width:640px)
{
    #top-main-bar
    {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 36px;
    }
}
