.overlay
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(95, 95, 95, 0.474);
    display: none;
    z-index: 200;
}

.overlay.active
{
    display: flex;
}

.side-bar
{
    position: fixed;
    top: 0px;
    left: -500px;
    height: 100%;
    width: 415px;
    background-color: #FFF;
    transition: 0.4s ease-in-out;
    z-index: 201;
}

.side-bar.active
{
    left: 0px;
}

@media (max-width: 640px)
{
    .side-bar
    {
        width: 75%;
    }
}